@import "variables";

p.notice {
  width: 80%;
  margin: 0 auto 20px auto;
}

.amt-lg {
  color: $dark-green;
  font-size: 30px;
  padding: 0;
  text-align: center;

  span {
    color: $light-gray;
    font-size: 0.75em;
  }
}
.side-block {
  margin-bottom: 50px;
  position:relative;

  h3 {
    color: #999;
    font-size: 100%;
    text-align: center;
  }

  .btn {
    color: $white;
    width: 80% !important;
    margin: 0 auto;
  }

  .checkbox {
    padding: 0 10%;
    text-align: left;
  }

  &.archived {
    color: #ccc;

    .amt-lg {
      color: $light-gray;
    }
  }
}
