// Mobile
$mobile-breakpoint: 991px;

// Colors
$white: #fefefe;
$black: #000000;
$green: #003333;
$dark-green: #009933;
$light-green: #eef7f0;
$gray: #585858;
$light-gray: #cecece;

// Fonts
$opensans: "Open Sans", Arial, Helvetica, sans-serif;

// Sizes
$base-font-size: 15px;
$paragraph-size: $base-font-size;
$label-size: 16px;
$xl-size: 90px;
$lg-size: 60px;
$h1-size: 48px;
$h2-size: 32px;
$h3-size: 26px;
$h4-size: 21px;
$h5-size: 18px;
